html,body, #banner { height: 100%; width: 100% ; }

body {
  background-color: white;
  color: black; /*#8C9EFF;*/
  padding: 20px;
  text-align: center;
  font-size: 1.75em;
  padding-top: 50px;
}

a {
  color: #5C6BC0;
}

a:active, a:hover {
  color: #8C9EFF;
}

.navbar-default, .navbar-fixed-top, .navbar-fixed-top ul li a {
  background-color: white;
  color: #8C9EFF;
  width: 100%;
  font-size: .75em;
}

.navbar-default, .navbar-fixed-top ul li a:active, a:hover {
  font-size: .95em;
  border-color: #8C9EFF;
}

.navbar-brand{
  font-size: .95em;
}

h1 {
  color: #5C6BC0;
}

h3 {
  color: #8C9EFF;
}

#port {
  color: #E8EAF6;
  text-align: center;
  /*font-size: 2em;*/
}

#banner {
  /*background-color: rgba( 255, 255, 255, .45); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  margin-top: 10px;

}

#bio {
  text-align: left;
  text-indent: 1em;
  color: #5C6BC0;

}

#profile {
  max-height: 15%;
  max-width: 25%
}

/*////////// APP Boxes ////////////*/

.thumbnail {
  /*background-color: #8C9EFF; */
  border-style: solid;
  border-width: 3px;
  border-color: #5C6BC0;
  margin-top: 20px;
  color: #000103;
}

.thumbnail h3{
  color: #8C9EFF;
}


.caption {
  background-color: #5C6BC0;
  color: #000103;  /*#020957 */
  font-weight: bolder;
  text-indent: 1em;
  font-size: 18px;
  /*text-align: left; */

}


.btn-flat {
  background-color: #8C9EFF;
  text-decoration: none;
  border-style: none;
  color: #1A237E;
  text-indent: 0;

}

.btn-flat:hover {
  background-color: #5C6BC0;
  border-color: #8C9EFF;
  text-decoration: : none;
}

.btn-flat:active {
  background-color: #5C6BC0;
  text-decoration: : none;
}

/*///////// Skills //////////////*/
ul {
  list-style: none;
  text-align: left;
  color: #5C6BC0;
}

#icon_box {
  /*border-style: solid;
  border-color: #5C6BC0;
  border-width: 1px;
  */
  margin-bottom: 20px;
}

.skillsIcons {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
