html,body, #banner { height: 100%; width: 100% ; }

body {
  font-family: sans-serif;
  background-color: white;
  color: #8C9EFF;
  padding: 20px;
  text-align: center;
  font-size: 1.75em;
  padding-top: 50px;
}

a {
  color: #5C6BC0;
}

a:active, a:hover {
  color: #8C9EFF;
}

.navbar-default, .navbar-fixed-top, .navbar-fixed-top ul li a {
  background-color: white;
  color: #5C6BC0;
  width: 100%;
  font-size: .95em;
}

.navbar-default, .navbar-fixed-top ul li a:active, a:hover {
  font-size: .95em;
  border-color: #5C6BC0;
}

.navbar-brand{
  font-size: .95em;
}

/*.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:focus, .navbar-default .navbar-nav .open a:hover {
    color: #5C6BC0;
    background-color: #FFF;
} */

nav ul li {
    float: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: .95em;
}

/*///  footer ///*/
.navbar-default .navbar-static-bottom, .navbar-static-bottom ul li a {
  /*background-color: white;
  color: white; */
  width: 100%;
  font-size: .75em;

}

 .navbar-static-bottom ul li a:active, a:hover {
  font-size: .990em;
  border-color: #5C6BC0;
  border-width: 2px;
}

.navbar-default .navbar-nav li a {
  color: #5C6BC0;
}

.navbar-default .Contact {
  font-size: .90em;
  color: #5C6BC0;
}

.dropdown-menu li {
  font-size: 1.25em !important;
  }

.dropdown-menu li a:hover {
  text-decoration: none;
  background-color: #8C9EFF;
  }

h1 {
  color: #5C6BC0;
}

h3 {
  color: #8C9EFF;
}

#port {
  color: #E8EAF6;
  text-align: center;
  /*font-size: 2em;*/
}

#banner {
  /*background-color: rgba( 255, 255, 255, .45); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  margin-top: 10px;

}

#bio {
  text-align: left;
  text-indent: 1em;
  color: #5C6BC0;
  font-size: .65em;
}

#profile {
  max-height: 15%;
  max-width: 25%
}

/*////////// APP Boxes ////////////*/

.thumbnail {
  /*background-color: #8C9EFF; */
  border-style: solid;
  border-width: 3px;
  border-color: #5C6BC0;
  margin-top: 20px;
  color: #000103;
}

.thumbnail h3{
  color: #8C9EFF;
}


.caption{
  background-color: #171a2b;
  color: rgba(255, 255, 255, .9); /* #000103 020957 */
  font-weight: bolder;
  text-indent: 1em;
  font-size: 18px;
  text-align: left;

}

.caption p{
  color: rgba(255, 255, 255, .9); /* #000103 020957 */
}


.btn-flat, button {
  background-color: #5C6BC0;
  text-decoration: none;
  border-style: none;
  color: #1A237E;
  text-indent: 0;
  text-transform: none;
/* TEST BOX SHADOW TO removed movement of text box-shadow: 10px 5px 5px red; */

}

.btn-flat:hover {
  background-color: #171a2b;
  border-color: #5C6BC0;
  text-decoration: : none;
  color: #5C6BC0;
}

.btn-flat:active {
  background-color: #171a2b;
  text-decoration: none;
  color: #5C6BC0;
}

/*///////// Skills //////////////*/
ul {
  list-style: none;
  text-align: left;
  color: #5C6BC0;
}

#icon_box, #icon_box2 {
  /*border-style: solid;
  border-color: #5C6BC0;
  border-width: 1px;
  */
  margin-bottom: 20px;
}

.skillsIcons {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.about h3 {
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.about h3:before, .about h3:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction,left), #8C9EFF, transparent);
}


.about h3:after {
  --direction: right;
  /*
 background: linear-gradient(to right, var(--yellow), transparent); */
}


