.ContactBox {
  background-color: transparent;
  padding: 10px;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}


.ContactBox:target {
  opacity:1;
  pointer-events: auto;
}

.ContactBox > div {
  width: 600px;
  max-width: 100%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #171a2b; /* rgba(140,158,255, .5); */
  border-style: solid;
  border-color: #5C6BC0;
  border-width: 3px;
}

.btn-close {
  margin-left: 30%;
}

.close {
  background-color: #FFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  left: 1px;
  text-align: right;
  top: -5px;
  width: 10px;
  text-decoration: none;
  font-weight: bold;
  border-style: solid;
  border-color: #8C9EFF;
  border-width: 3px;
  color: #171a2b;
  float: right;

}

.close:hover, .close:focus, .btn-close {
  background-color: #fff;
  color: #5C6BC0;
  border-style: solid;
  border-color: #8C9EFF;
  border-width: 3px;
}


 /* background: #171a2b; */
