html,body, #banner { height: 100%; width: 100% ; }

body {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.75em;
}

a {
  color: green;
}

h3 {
  color: rgba(83, 87, 217, .90);
}

#port {
  color: white;
  text-align: center;
  //font-size: 2em;
}


#banner {
  //background-color: rgba( 255, 255, 255, .45);
  height: 100%;
  width: 100%;
  //background-image: url('images/cannon_and_chess.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;

}

#profile {
  border-radius: 50%;
  border-radius-bottom: 50%;
  max-height: 15%;
  max-width: 25%

}

/*
div {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.row{
  border-color: blue;
  border-width: 2px;
  border-style: solid;
}

*/

.thumbnail {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: green;
  margin-top: 50px;
}

.caption {
  background-color: green;
  color: white;
  font-style: italic;
  font-weight: bolder;
}


.btn-danger {
  background-color: black;
  text-decoration: none;
  border-style: none;
}

.btn-danger:hover {
  background-color: green;
  border-color: black;
  border-width: 1px;
}

.btn-danger:active {
  background-color: green;
  text-decoration: : none;
}

ul {
  list-style: none;
  text-align: left;
  color: rgba(247, 203, 0, 0.86);
}

.skillsIcons {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

}
